body {
  background-color: #141414;
  display: grid;
  flex-direction: column;
  justify-content: center;
}

h2 {
  color: #ffffff;
}

.contact-card {
  display: flex;
  padding: 10px;
  color: #141414;
  font-weight: 600;
  background-color: rgb(255, 174, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 10px 10px 25px -16px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  width: 450px;
  max-height: 125px;
  margin-bottom: 10px;
}

.contact-card p {
  margin-left: 10px;
  margin-top: 0;
}

button {
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid #141414;
  padding: 5px 10px;
  border-radius: 5px;
}

img {
  border-radius: 10px;
}
